# Railway / Backend
DATABASE_URL="postgresql://user:pass@host:5432/db?schema=public"
WHATSAPP_SECRET="tu_secreto_super_seguro_para_api"
PORT=8080

# Frontend / Vercel
NEXT_PUBLIC_SOCKET_URL="https://tu-railway-url.railway.app"
NEXT_PUBLIC_WHATSAPP_SERVER_URL="https://tu-railway-url.railway.app"
